<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jordibarea.tfg">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.GameOptionsActivity" android:label=" "></activity>
        <activity android:name=".Activities.GameActivity" android:label=" " android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity android:name=".Activities.ConfigurationActivity" android:label=" "></activity>
        <activity android:name=".Activities.WinActivity" android:label=" "></activity>
        <activity android:name=".Activities.RulesActivity" android:label=" "></activity>
    </application>

</manifest>